{% extends "./base.html" %}

{% block body %}
<div class="">
    <h1>Listado de Categorias</h1>
    {% if listCat %}
    <div class="table-responsive py-2">
        <table class="table table-striped tablaG">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                {% for c in listCat %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ c.nombre }}</td>
                    <td>{{ c.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="text-center mt-5">
        <p>TODO NO HAY CATEGORIAS CARGADAS</p>
    </div>
    {% endif %}
</div>

{% endblock %}